Repository TJDPGr9/NEVAssembly, changes with the owners that CODEOWNERS names for each.
All owners: @VictorHuu, @AbigailJixiangyuyu, @jwa2003, @Funny0101, @Cryamor, @singularitycjr, @M2030123, @Yontine, @PeachOolongttea

Abstract Factory Pattern
  Abstract Factory Pattern/Abstract.h
  Abstract Factory Pattern/BYDSeagull.cpp
  Abstract Factory Pattern/BYDSeagull.h
  Abstract Factory Pattern/CMakeLists.txt
  Abstract Factory Pattern/VWID4.cpp
  Abstract Factory Pattern/VWID4.h
  Abstract Factory Pattern/main.cpp
Owners: none

add the last cmake
  .github/workflows/cmake-single-platform.yml
  Abstract Factory Pattern/CMakeLists.txt
  CMakeLists.txt
Owners: none

rename target to abstract
  Builder Pattern/CMakeLists.txt
Owners: @VictorHuu

opps!
  Abstract Factory Pattern/CMakeLists.txt
  Builder Pattern/CMakeLists.txt
Owners: @VictorHuu

test:use lib
  Builder Pattern/CMakeLists.txt
Owners: @VictorHuu

configure the cmake to generate lib
  Abstract Factory Pattern/CMakeLists.txt
  Chain of Responsibility Pattern/CMakeLists.txt
  Decorator Pattern/CMakeLists.txt
  Facade Pattern/CMakeLists.txt
  Factory Pattern/CMakeLists.txt
  Mediator Pattern/CMakeLists.txt
  Observer Pattern/CMakeLists.txt
  State Pattern/CMakeLists.txt
  Visitor Pattern/CMakeLists.txt
Owners: @AbigailJixiangyuyu, @jwa2003, @Funny0101, @PeachOolongttea, @Cryamor, @singularitycjr, @M2030123, @Yontine

opps!
  Abstract Factory Pattern/CMakeLists.txt
Owners: none

opps rename source files
  Chain of Responsibility Pattern/CMakeLists.txt
  Decorator Pattern/CMakeLists.txt
  Facade Pattern/CMakeLists.txt
  Factory Pattern/CMakeLists.txt
  State Pattern/CMakeLists.txt
Owners: @AbigailJixiangyuyu, @jwa2003, @Funny0101, @PeachOolongttea, @M2030123

add an empty cpp file to ensure that the link language is cpp
  Decorator Pattern/CMakeLists.txt
  Facade Pattern/CMakeLists.txt
  Factory Pattern/CMakeLists.txt
  Mediator Pattern/CMakeLists.txt
  State Pattern/CMakeLists.txt
  Visitor Pattern/CMakeLists.txt
  empty.cpp
Owners: @jwa2003, @Funny0101, @PeachOolongttea, @Cryamor, @M2030123, @Yontine

opps fallen through the cracks!
  Chain of Responsibility Pattern/CMakeLists.txt
Owners: @AbigailJixiangyuyu

Update cmake-single-platform.yml
  .github/workflows/cmake-single-platform.yml
Owners: none

Set timeout for executable file
  .github/workflows/cmake-single-platform.yml
Owners: none

add filename before execution
  .github/workflows/cmake-single-platform.yml
Owners: none

Update cmake-single-platform.yml
  .github/workflows/cmake-single-platform.yml
Owners: none

Update cmake-single-platform.yml
  .github/workflows/cmake-single-platform.yml
Owners: none

Add a badge to reflect the build&run&test workflow
  README.md
Owners: none

Generate libs&executables and run all executables on the Standard Runners (#3)
  .github/workflows/cmake-single-platform.yml
  Abstract Factory Pattern/CMakeLists.txt
  Builder Pattern/CMakeLists.txt
  CMakeLists.txt
  Chain of Responsibility Pattern/CMakeLists.txt
  Decorator Pattern/CMakeLists.txt
  Facade Pattern/CMakeLists.txt
  Factory Pattern/CMakeLists.txt
  Mediator Pattern/CMakeLists.txt
  Observer Pattern/CMakeLists.txt
  README.md
  State Pattern/CMakeLists.txt
  Visitor Pattern/CMakeLists.txt
  empty.cpp
Owners: @VictorHuu, @AbigailJixiangyuyu, @jwa2003, @Funny0101, @PeachOolongttea, @Cryamor, @singularitycjr, @M2030123, @Yontine

新增了5个设计模式的要求
  CODE OF CONDUCT.md
Owners: none

新增分工 & 增加Builder类图
  Builder Pattern/BuilderPattern.png
  CODE OF CONDUCT.md
Owners: @VictorHuu

修改gitigore适配VS项目，增加Builder模式文档
  .gitignore
  Builder Pattern/设计文档.md
  CODE_OF_CONDUCT.md
  Observer Pattern/观察者模式文档.md
Owners: @VictorHuu, @singularitycjr

Add files via upload
  Prototy Pattern/2150618田鑫阳 原型模式.docx
  Prototy Pattern/Prototype.h
  Prototy Pattern/test.cpp
Owners: none

完成了策略模式的源代码编写
  Strategy Pattern/startegy.cpp
  Strategy Pattern/strategy.h
Owners: none

完成了迭代器模式
  Iterator Pattern/Iterator.cpp
  Iterator Pattern/Iterator.h
  Iterator Pattern/RailwayBureaus.cpp
  Iterator Pattern/RailwayBureaus.h
  Iterator Pattern/main.cpp
Owners: none

修改策略模式逻辑
  Strategy Pattern/startegy.cpp
  Strategy Pattern/strategy.h
Owners: none

类图文档
  Iterator Pattern/Iterator.docx
Owners: none

类图文档
  Factory Pattern/Factory.docx
Owners: @PeachOolongttea

添加文档
  Facade Pattern/外观模式.docx
  Strategy Pattern/策略模式.docx
Owners: @Funny0101

完成了享元模式代码编写
  Prototy Pattern/Flyweight Pattern/flyweight.cpp
  Prototy Pattern/Flyweight Pattern/flyweight.h
Owners: none

完成享元模式代码编写
  Flyweight Pattern/flyweight.cpp
  Flyweight Pattern/flyweight.h
Owners: none

补充文档
  Decorator Pattern/装饰器模式.docx
  Flyweight Pattern/享元模式.docx
Owners: @jwa2003

add graph module to the Strategy Pattern
  .gitignore
  Prototy Pattern/Prototype.h
  Prototy Pattern/test.cpp
  Prototype Pattern/2150618田鑫阳 原型模式.docx
  Prototype Pattern/Prototype.h
  Prototype Pattern/test.cpp
  Strategy Pattern/CMakeLists.txt
  Strategy Pattern/dijkstra.cpp
  Strategy Pattern/dijkstra.h
  Strategy Pattern/main.cpp
  Strategy Pattern/strategy.h
  Strategy Pattern/utility.cpp
  Strategy Pattern/utility.h
Owners: none

CODEOWNERS:

Builder* @VictorHuu
Chain* @AbigailJixiangyuyu
Decorator* @jwa2003
Facade* @Funny0101
Mediator* @Cryamor
Observer* @singularitycjr
State* @M2030123
Visitor* @Yontine
Factory* @PeachOolongttea
